WANDB_API_KEY=
HF_TOKEN=
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_TOKEN=
MLFLOW_TRACKING_USERNAME=
INTENT_EXPERIMENT_VERSION=v5
HF_HOME=/mnt/HDD8TB/aman_ws/stt/intent-training/.hf_cache
HF_DATASETS_CACHE=/path/to/intent-training/.hf_cache/datasets

BASE_DIR=/path/to/base/
HF_MODEL_REPO=kapturecx/whisper-small-intent-classifier-v5.6